<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Google Tag Manager -->
    <script>
      (function (w, d, s, l, i) {
        w[l] = w[l] || [];
        w[l].push({ "gtm.start": new Date().getTime(), event: "gtm.js" });
        var f = d.getElementsByTagName(s)[0],
          j = d.createElement(s),
          dl = l != "dataLayer" ? "&l=" + l : "";
        j.async = true;
        j.src = "https://www.googletagmanager.com/gtm.js?id=" + i + dl;
        f.parentNode.insertBefore(j, f);
      })(window, document, "script", "dataLayer", "GTM-P7NR5N9F");
    </script>
    <!-- End Google Tag Manager -->
    <!-- Google tag (gtag.js) -->
    <script
      async
      src="https://www.googletagmanager.com/gtag/js?id=G-K86T5FX5W9"
    ></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());

      gtag("config", "G-K86T5FX5W9");
    </script>
    <!-- Default meta -->
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {{partial "style-links.html"}}
    <title>{{.Title}}</title>
  </head>
  <body>
    <!-- Google Tag Manager (noscript) -->
    <noscript
      ><iframe
        src="https://www.googletagmanager.com/ns.html?id=GTM-P7NR5N9F"
        height="0"
        width="0"
        style="display: none; visibility: hidden"
      ></iframe
    ></noscript>
    <!-- End Google Tag Manager (noscript) -->
    {{partial "sticky-phone.html"}} {{ partial "preheader.html"}} {{ partial
    "header.html"}}
    <div class="blog-padding">
      <h1>Лечение зависимостей</h1>
      <h2>Последние статьи</h2>
      <ul class="blog-list-container">
        {{range where site.RegularPages "Type" "blog"}}
        <a href="{{ .Permalink }}"
          ><li class="blog-list-post">
            <div class="blog-list-post-text-container">
              <h3>{{.Title}}</h3>
              <p>{{.Params.Description}}</p>
            </div>
            <img src="{{.Params.image}}" alt="{{.Params.imageText}}" /></li
        ></a>
        {{end}}
      </ul>
    </div>
    {{partial "contacts.html" . }} {{partial "footer.html" .}}
  </body>
</html>
