<!DOCTYPE html>
<html lang="{{ $.Site.Language.Lang }}">
  <head>
    <!-- Google Tag Manager -->
    <script>
      (function (w, d, s, l, i) {
        w[l] = w[l] || [];
        w[l].push({ "gtm.start": new Date().getTime(), event: "gtm.js" });
        var f = d.getElementsByTagName(s)[0],
          j = d.createElement(s),
          dl = l != "dataLayer" ? "&l=" + l : "";
        j.async = true;
        j.src = "https://www.googletagmanager.com/gtm.js?id=" + i + dl;
        f.parentNode.insertBefore(j, f);
      })(window, document, "script", "dataLayer", "GTM-P7NR5N9F");
    </script>
    <!-- End Google Tag Manager -->
    <!-- Google tag (gtag.js) -->
    <script
      async
      src="https://www.googletagmanager.com/gtag/js?id=G-K86T5FX5W9"
    ></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());

      gtag("config", "G-K86T5FX5W9");
    </script>
    <!-- Default meta -->
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{.Params.tabTitle}}</title>
    <!-- Canonical URL -->
    <link rel="canonical" href="{{ .Permalink }}" />
    {{/*  Styles  */}}
    {{partial "style-links.html"}}
  </head>
  <body>
    <!-- Google Tag Manager (noscript) -->
    <noscript
      ><iframe
        src="https://www.googletagmanager.com/ns.html?id=GTM-P7NR5N9F"
        height="0"
        width="0"
        style="display: none; visibility: hidden"
      ></iframe
    ></noscript>
    <!-- End Google Tag Manager (noscript) -->
    {{partial "sticky-phone.html" . }} {{partial "preheader.html" . }} {{partial
    "header.html" . }}
    <main>{{block "main".}}{{end}}</main>
    <div class="markdown">{{.Content}}</div>
    {{ partial "star-rating.html" .}} {{ if eq .Params.reviewType "alk-1" }} {{
    partial "reviews/alk-1.html" . }} {{ else if eq .Params.reviewType "alk-2"
    }} {{ partial "reviews/alk-2.html" . }} {{ else if eq .Params.reviewType
    "kod-1" }} {{ partial "reviews/kod-1.html" . }} {{else if eq
    .Params.reviewType "kod-2"}}{{partial "reviews/kod-2.html" .}}{{ end
    }}{{partial "faq.html"}}
    <div style="text-align: center">
      <h2>Последние статьи из блога</h2>
      <ul style="list-style: none">
        {{range first 3 (where site.RegularPages "Type" "blog")}}
        <a
          href="{{ .Permalink }}"
          style="text-decoration: underline; color: dodgerblue"
          ><li>
            <p style="color: dodgerblue">{{.Title}}</p>
          </li></a
        >
        {{end}}
      </ul>
    </div>
    {{partial "contacts.html" . }} {{partial "footer.html" . }}
  </body>
</html>
