<!DOCTYPE html>
<html lang="{{ $.Site.Language.Lang }}">
  <head>
    {{ partial "head.html" . }}
    {{ partial "schema/single.html" .}}
  </head>
  <body>
    {{partial "sticky-phone.html" . }} {{partial "preheader.html" . }} {{partial
    "header.html" . }}
    <div class="main-padding"></div>
    <main>{{block "main".}}{{end}}</main>
    <div class="markdown-container">
      <div class="markdown">
        {{if in .Site.Language "ru"}}
        <div class="snippet">
          <p>
            {{ with .Params.date }} Дата написания: {{ time.Format ":date_medium" . }} {{ else }} Дата написания: Обновляется... {{ end }}
          </p>
          <p>{{ with .Params.lastmod }} Последнее обновление: {{ time.Format ":date_medium" . }} {{ else }} Последнее обновление: Обновляется... {{ end }}</p>
        </div>
        {{else}}
        <div class="snippet">
          <p>{{ with .Params.date }} Дата написання: {{ time.Format ":date_medium" . }} {{ else }} Дата написання: Оновлюється... {{ end }}</p> 
          <p>{{ with .Params.lastmod }} Останнє оновлення: {{ time.Format ":date_medium" . }} {{ else }} Останнє оновлення: Оновлюється... {{ end }}</p>
        </div>
        {{end}} {{.Content}}{{partial "banner.html" .}}{{ partial
        "star-rating.html" .}}
      </div>
      <div class="markdown-side-menu">
        {{ range site.Menus.main }} {{if eq .Identifier "services"}}
        <p class="markdown-side-menu-header">{{.Name}}</p>
        {{ if .HasChildren }} {{range .Children}}
        <ul>
          <li><a href="{{.URL}}">{{.Name}}</a></li>
        </ul>
        {{ end }} {{end}} {{end}} {{end}} {{if in .Site.Language "ru"}}
        <p class="markdown-side-menu-header">Актуальные новости</p>
        {{else}}
        <p class="markdown-side-menu-header">Актуальні новини</p>
        {{end}} {{ range first 5 (where .Site.RegularPages "Type" "blog") }}
        <ul>
          <li>
            <a href="{{.Permalink}}">{{.Name}}</a>
          </li>
        </ul>
        {{end}}
      </div>
    </div>
    {{partial "faq.html" .}}{{partial "local-reviews.html" .}}
    <div style="text-align: center">{{partial "latest-news.html" .}}</div>
    {{partial "contacts.html" . }} {{partial "footer.html" . }}
  </body>
</html>
