<!DOCTYPE html>
<html lang="ru">
<head>
    <!-- Google Tag Manager -->
    <script>
        (function (w, d, s, l, i) {
            w[l] = w[l] || [];
            w[l].push({ "gtm.start": new Date().getTime(), event: "gtm.js" });
            var f = d.getElementsByTagName(s)[0],
                j = d.createElement(s),
                dl = l != "dataLayer" ? "&l=" + l : "";
            j.async = true;
            j.src = "https://www.googletagmanager.com/gtm.js?id=" + i + dl;
            f.parentNode.insertBefore(j, f);
        })(window, document, "script", "dataLayer", "GTM-P7NR5N9F");
    </script>
    <!-- End Google Tag Manager -->
    <!-- Google tag (gtag.js) -->
    <script
            async
            src="https://www.googletagmanager.com/gtag/js?id=G-K86T5FX5W9"
    ></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() {
            dataLayer.push(arguments);
        }
        gtag("js", new Date());

        gtag("config", "G-K86T5FX5W9");
    </script>
    <!-- Default meta -->
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {{partial "style-links.html"}}
    <title>{{.Title}}</title>
    <link rel="canonical" href="{{ .Permalink }}" />
</head>
<body>
<!-- Google Tag Manager (noscript) -->
<noscript
><iframe
        src="https://www.googletagmanager.com/ns.html?id=GTM-P7NR5N9F"
        height="0"
        width="0"
        style="display: none; visibility: hidden"
></iframe
></noscript>
<!-- End Google Tag Manager (noscript) -->
{{partial "sticky-phone.html"}} {{if in .Site.Language "ru"}} {{partial
"preheader.html" . }} {{ else }} {{partial "preheader-ua.html" . }}{{end}}
{{ partial "header.html"}}
<div class="blog-padding">
    {{if in .Site.Language "ru"}}
    <h1>Отзывы наших пациентов</h1>
    {{ else }}
    <h1>Відгуки наших пацієнтів</h1>
    {{end}}

    <ul class="directory-list-container">
        {{ range sort (where site.RegularPages "Type" "feedback") "Date" "desc" }}
            <li class="feedback-list-post">
                <div class="feedback-link">
                    <img class="feedback-image" src="{{ .Params.image }}" alt="{{ .Params.imageText }}"/>
                    <div class="feedback-list-post-text-container">
                        <h3>{{ .Title }}</h3>
                    </div>
                </div>
                <div id="imageModal" class="modal">
                    <span class="close">&times;</span>
                    <img class="modal-content" id="modalImg">
                </div>
            </li>
        {{ end }}
    </ul>

</div>
{{if in .Site.Language "ru"}} {{partial "contacts.html" . }} {{ else }}
{{partial "contacts-ua.html" . }} {{end}} {{partial "footer.html" .}}
<script src="/js/modal_img.js"></script>

</body>
</html>
