<!DOCTYPE html>
<html lang="ru">
  <head>
    {{ partial "head.html" . }}
  </head>
  <body>
    {{partial "sticky-phone.html"}} {{partial "preheader.html" . }} {{ partial
    "header.html"}}
    <div class="google-reviews-padding">
      {{if in .Site.Language "ru"}}
      <h1>Отзывы о нашей работе</h1>
      {{ else }}
      <h1>Відгуки про нашу роботу</h1>
      {{end}}
    </div>
    {{partial "google-reviews.html" . }}{{partial "reviews-screenshots.html" .
    }}{{partial "contacts.html" . }} {{partial "footer.html" .}}
  </body>
</html>
