.blog-padding{
    padding-top:9rem;
    text-align: center;
}
.blog-list-container{
    display: flex;
    flex-direction: column;
    margin: auto;
    column-gap: 0.5rem;
}
.blog-list-post {
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    background-color: whitesmoke;
    border-radius: 5px;
    padding: 1rem;

}
.blog-list-post-image-container{
    width: 12.5rem;
    height: auto;
}
.blog-list-post-image-container img{
    width: 100%;
    object-fit:contain;
}
.blog-list-post-upper-part{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    justify-self: flex-start;
    text-align: left;
}
.blog-list-post-lower-part{
    color: grey;
    align-self:flex-start;
    font-size:12px;
}
@media (min-width: 900px){
    .blog-list-container{
        max-width: 70%;
        margin: auto;
        flex-direction: row;
        flex-wrap: wrap;
        justify-self: flex-start;
    }
    .blog-list-post{
        width: 15rem;
        height: 30rem;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 1rem;
    }
}