:root {
  --blue: #1d5d9b;
  --orange: #a3021a;
  --orangedark: #bf201b;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  /* list-style: none; */
  text-decoration: none;
  color: black;
}

/* НИЖНЕЕ ОПИСАНИЕ */
.bottom-descr {
  margin: auto;
  max-width: 70%;
}
.bottom-descr-container {
  text-align: start;
  line-height: 1.5rem;
}
@media (max-width: 768px) {
  .bottom-descr {
    max-width: 95%;
  }
}