.markdown-container {
  display: flex;
  max-width: 97.5%;
  margin: auto;
}
.markdown {
  margin:1.5rem 0;
  display: flex;
  flex-direction: column;
  min-height: 3em;
  white-space: normal;
}
.markdown-side-menu{
  display: none;
}
.markdown h1{
  color:var(--blue)
}

.markdown > h1,
h2,
h3,
h4 {
  display: inline-block;
  position: relative;
  padding: 1.5rem 0;
  align-self: center;
}
h2::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  bottom: 10px;
  border-radius: 10px;
  background-color: var(--blue);
  left: 0px;
}
.markdown a {
  color: var(--blue);
  text-decoration: underline;
}
.markdown p {
  line-height: 1.6rem;
  padding: 1rem;
}
.markdown img {
  max-width: 50%;
  height: auto;
  box-shadow: -3px 3px 0px var(--blue);
  border-radius: 0 10px 0 0;
  display: block;
  margin:auto;
}
.markdown ol, .markdown ul{
  align-self: flex-start;
  padding:1rem 2rem;
  list-style:inside;
}
.markdown ol li, .markdown ul li{
  margin-bottom: 1rem;
  padding:0rem 1rem;
  line-height: 1.6rem;
}
.table-container {
  width: 100%;
  overflow-x: auto;
  margin: 0 auto;
  max-width: 600px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
}

th,
td {
  padding: 0.8rem;
  text-align: left;
  border-bottom: 1px solid #ddd;
  width: 75%;
}

th {
  background-color: #1d5d9b;
  color: white;
}

tbody tr:nth-child(even) {
  background-color: #f9f9f9;
}

tbody tr:hover {
  background-color: #f1f1f1;
}

@media (min-width: 1000px) {
  .markdown-container{
    max-width: 67%;
  }
  .markdown {
    min-width: 70%;
    align-self: flex-start;
  }
  .markdown-side-menu{
    display: block;
    margin: 3rem 1.5rem;
    padding:1rem;
    height: 100%;
    background-color: whitesmoke;
    border-radius: 1rem;
    min-width: 30%;
  }
  .markdown-side-menu-header{
    padding: 0.5rem;
    font-weight: 600;
    color: var(--blue)
  }
  .markdown-side-menu ul{
    margin-left:1rem;
    list-style: none;
    padding:0.5rem;
  }
  .markdown-side-menu ul li a{
    transition: 0.1s;
  }
  .markdown-side-menu ul li a:hover{
    color: grey;
  }
}

@media (max-width: 450px) {
  .markdown ol, ul {
    padding: 0;
  }
  .markdown img {
    max-width: 95%;
}
}
