{{/* used in the end of page as call to action */}}
<div class="banner">
  {{$bannerMobRu := resources.Get "/img/BANNER/banner-mob-ru.jpg"}} {{$bannerMobUa := resources.Get
  "/img/BANNER/banner-mob-ua.jpg"}} {{$bannerPcRu := resources.Get "/img/BANNER/banner-pc-ru.jpg"}} {{$bannerPcUa :=
  resources.Get "/img/BANNER/banner-pc-ua.jpg"}} {{if in .Site.Language "ru"}}
  <picture>
    <source srcset="{{$bannerPcRu.RelPermalink}}" media="(width >= 1000px)" />
    <img src="{{$bannerMobRu.RelPermalink}}" alt="call-to-action" />
  </picture>
  {{else}}
  <picture>
    <source srcset="{{$bannerPcUa.RelPermalink}}" media="(width >= 1000px)" />
    <img src="{{$bannerMobUa.RelPermalink}}" alt="call-to-action" />
  </picture>
  {{end}}
</div>
