<div class="contacts">
  <div class="contacts-container">
    <div class="contacts-numbers">
      <h2>Наши контакты:</h2>
      <p>
        <b>Номер телефона:</b><br />
        <a href="tel:+380973697665" style="color: navy; cursor: pointer"
          >+380 (97) 369 76 65</a
        ><br /><a href="tel:+3805002169" style="color: navy; cursor: pointer"
          >+380 (50) 021 69 57</a
        >
      </p>
      <p>
        <b>Адрес главного офиса:</b> г. Одесса Армейская 18/1 <br /><span
          style="color: grey"
          >Офис вашего города нужно уточнить</span
        ><br /><b>Работаем в:</b> Одессе, Киеве, Львове, Харькове, Днепре,
        Запорожье, Каменском
      </p>
      <p>
        <b>Telegram:</b>
        <a
          href="https://t.me/umbrellaplus"
          style="color: lightblue; text-decoration: underline"
          >t.me/umbrellaplus</a
        >
      </p>
      <p><b>График работы:</b> Круглосуточно</p>
    </div>
    <div class="contacts-map">
      <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2748.860973631541!2d30.747789811477872!3d46.451451666909165!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40c633dd17390471%3A0x5e1b781845e3d972!2sArmiis&#39;ka%20St%2C%2018%2C%20Odesa%2C%20Odes&#39;ka%20oblast%2C%20Ukraine%2C%2065000!5e0!3m2!1sen!2sno!4v1702850735709!5m2!1sen!2sno"
        width="600"
        height="450"
        style="border: 0"
        allowfullscreen=""
        loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"
      ></iframe>
    </div>
  </div>
</div>