<div class="contacts">
  <div class="contacts-container">
    <div class="contacts-numbers">
      <h2>Наші контакти:</h2>
      <p>
        <b>Номер телефону:</b><br />
        <a href="tel:+380687972782" style="color: navy; cursor: pointer"
          >+380 (68) 797 27 82</a
        ><br /><a href="tel:+3805002169" style="color: navy; cursor: pointer"
          >+380 (50) 021 69 57</a
        >
      </p>
      <p>
        <span style="color: grey"
          >Адресу наркологічного центра вашого міста уточнюйте за
          телефоном</span
        ><br /><b>Працюємо:</b> Київ, Одеса, Львів, Харків, Дніпро, Запоріжжя,
        Черкасах, Чугуєві, Чорноморську, Кам'янському
      </p>
      <p>
        <b>Telegram:</b>
        <a
          href="https://t.me/umbrellaplus"
          style="color: lightblue; text-decoration: underline"
          >t.me/umbrellaplus</a
        >
      </p>
      <p><b>Графік работы:</b> Цілодобово</p>
    </div>
    <div class="contacts-map">
      <iframe
        src="https://www.google.com/maps/d/embed?mid=1vuMBf-Kw3jPLlngt5WroDVgqyLqgaA8&ehbc=2E312F&noprof=1"
        width="600"
        height="450"
        style="border: 0"
        allowfullscreen=""
        loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"
      >
        ></iframe
      >
    </div>
  </div>
</div>
