<!-- <div class="doctors">
  <h2>Наші спеціалісти</h2>
  <section id="image-carousel" class="splide">
    <div class="splide__track">
      <ul class="splide__list">
        <li class="doctor-block splide__slide">
          <img src="/img/doctors-from-slider/docHD1.jpg" alt="team-person1.1" />
          <p><b>Андрій Геннадійович Шевченко</b></p>
          <p>р. Одеса</p>
          <p>Лікар нарколог - стаж роботи 35 років.</p>
        </li>
        <li class="doctor-block splide__slide">
          <img src="/img/doctors-from-slider/docHD2.jpg" alt="team-person1.2" />
          <p><b>Валерій Іванович Мельник</b></p>
          <p>р. Харків</p>
          <p>Лікар терапевт - стаж роботи 31 рік.</p>
        </li>
        <li class="doctor-block splide__slide">
          <img src="/img/doctors-from-slider/docHD3.jpg" alt="team-person1.3" />
          <p><b>Олександр Анатолійович Бойко</b></p>
          <p>р. Київ</p>
          <p>Лікар нарколог - стаж роботи 36 рік.</p>
        </li>
        {{/*  <li class="doctor-block splide__slide">
          <img src="/img/doctors-from-slider/doc1.webp" alt="team-person1" />
          <p><b>Святослав В'ячеславович Іванов</b></p>
          <p>м. Одеса</p>
          <p>Лікар терапевт - стаж роботи 6 років.</p>
        </li>
        <li class="doctor-block splide__slide">
          <img src="/img/doctors-from-slider/doc2.webp" alt="team-person2" />
          <p><b>Владислав Олексійович Розискул</b></p>
          <p>м. Одеса</p>
          <p>Лікар анастезіолог - стаж роботи 5 років</p>
        </li>
        <li class="doctor-block splide__slide">
          <img src="/img/doctors-from-slider/doc3.webp" alt="team-person3" />
          <p><b>Олексій Валерійович Гош</b></p>
          <p>м. Київ</p>
          <p>Лікар нарколог - стаж роботи 6 років</p>
        </li>
        <li class="doctor-block splide__slide">
          <img src="/img/doctors-from-slider/doc4.webp" alt="team-person4" />
          <p><b>Михайло Валентинович Кирієнко</b></p>
          <p>м. Запоріжжя</p>
          <p>Лікар нарколог - стаж роботи 4 роки</p>
        </li>
        <li class="doctor-block splide__slide">
          <img src="/img/doctors-from-slider/doc5.webp" alt="team-person4" />
          <p><b>Олександра Василівна Кузіна</b></p>
          <p>м. Львів</p>
          <p>Лікар психіатр – стаж роботи 9 років</p>
        </li>
        <li class="doctor-block splide__slide">
          <img src="/img/doctors-from-slider/doc6.webp" alt="team-person4" />
          <p><b>Тетяна Іванівна Степанюк</b></p>
          <p>м. Харків</p>
          <p>Лікар нарколог - стаж роботи 16 років</p>
        </li>
        <li class="doctor-block splide__slide">
          <img src="/img/doctors-from-slider/doc7.webp" alt="team-person4" />
          <p><b>Лариса Петрівна Грач</b></p>
          <p>м. Дніпро</p>
          <p>Лікар нарколог - стаж роботи 18 років</p>
        </li>
        <li class="doctor-block splide__slide">
          <img src="/img/doctors-from-slider/doc8.webp" alt="team-person4" />
          <p><b>Антон Данилович Горшков</b></p>
          <p>м. Київ</p>
          <p>Лікар терапевт - стаж роботи 36 років</p>
        </li>
        <li class="doctor-block splide__slide">
          <img src="/img/doctors-from-slider/doc9.webp" alt="team-person4" />
          <p><b>Денис Дмитрович Куцько</b></p>
          <p>м. Запоріжжя</p>
          <p>Лікар анастезіолог - стаж роботи 10 років</p>
        </li>  */}}
      </ul>
    </div>
  </section>
</div> -->
