<div class="doctors">
  <h2>Наші спеціалісти</h2>
  <section id="image-carousel" class="splide">
    <div class="splide__track">
      <ul class="splide__list">
        <li class="doctor-block splide__slide">
          <img
            src="/img/doctors-from-slider/ddoc-olga.jpg"
            alt="team-person1.1"
          />
          <p class="doctor-name">Робулець Ольга Григоріївна</p>
          <p class="doctor-descr">Лікар нарколог - стаж 22 роки.</p>
        </li>
        <li class="doctor-block splide__slide">
          <img
            src="/img/doctors-from-slider/ddoc-kost.jpg"
            alt="team-person1.2"
          />
          <p class="doctor-name">Богоденко Константин Сергійович</p>
          <p class="doctor-descr">Лікар хірург - стаж 8 років.</p>
        </li>
        <li class="doctor-block splide__slide">
          <img
            src="/img/doctors-from-slider/ddoc-elena.jpg"
            alt="team-person1.3"
          />
          <p class="doctor-name">Демдюк Олена Вікторівна</p>
          <p class="doctor-descr">Медичний координатор</p>
        </li>
        <li class="doctor-block splide__slide">
          <img
            src="/img/doctors-from-slider/ddoc-arthur.jpg"
            alt="team-person1"
          />
          <p class="doctor-name">Петросян Тигран Артурович</p>
          <p class="doctor-descr">Лікар нарколог - стаж 7 років.</p>
        </li>
        <li class="doctor-block splide__slide">
          <img
            src="/img/doctors-from-slider/ddoc-oleg.jpg"
            alt="team-person2"
          />
          <p class="doctor-name">Бантковський Олег В'ячеславович</p>
          <p class="doctor-descr">Лікар анастезіолог - стаж 6 років</p>
        </li>
        <li class="doctor-block splide__slide">
          <img
            src="/img/doctors-from-slider/ddoc-maria.jpg"
            alt="team-person3"
          />
          <p class="doctor-name">Коновалова Марія Сергіївна</p>
          <p class="doctor-descr">Медичний координатор</p>
        </li>
        <li class="doctor-block splide__slide">
          <img
            src="/img/doctors-from-slider/ddoc-stas.jpg"
            alt="team-person4"
          />
          <p class="doctor-name">Могучов Станіслав В'ячеславович</p>
          <p class="doctor-descr">Лікар терапевт - стаж 6 років</p>
        </li>
      </ul>
    </div>
  </section>
</div>
