<div class="doctors" id="doctors">
  <h2>Наши спецалисты</h2>
  <section id="image-carousel" class="splide">
    <div class="splide__track">
      <ul class="splide__list">
        <li class="doctor-block splide__slide">
          <img src="/img/doctors-from-slider/ddoc-olga.jpg" alt="team-person1.1" />
          <p class="doctor-name">Робулец Ольга Григорьевна</p>
          <p class="doctor-descr">Врач нарколог - стаж 22 года.</p>
        </li>
        <li class="doctor-block splide__slide">
          <img src="/img/doctors-from-slider/ddoc-kost.jpg" alt="team-person1.2" />
          <p class="doctor-name">Богоденко Костянтин Сергiйович</p>
          <p class="doctor-descr">Врач хирург - стаж 8 лет.</p>
        </li>
        <li class="doctor-block splide__slide">
          <img src="/img/doctors-from-slider/ddoc-elena.jpg" alt="team-person1.3" />
          <p class="doctor-name">Демдюк Елена Викторовна</p>
          <p class="doctor-descr">Медицинский координатор</p>
        </li>
        <li class="doctor-block splide__slide">
          <img src="/img/doctors-from-slider/ddoc-arthur.jpg" alt="team-person1" />
          <p class="doctor-name">Петросян Тигран Артурович</p>
          <p class="doctor-descr">Врач нарколог - стаж 7 лет.</p>
        </li>
        <li class="doctor-block splide__slide">
          <img src="/img/doctors-from-slider/ddoc-oleg.jpg" alt="team-person2" />
          <p class="doctor-name">Бантковский Олег Вячеславович</p>
          <p class="doctor-descr">Врач анастезиолог - стаж 6 лет</p>
        </li>
        <li class="doctor-block splide__slide">
          <img src="/img/doctors-from-slider/ddoc-maria.jpg" alt="team-person3" />
          <p class="doctor-name">Коновалова Мария Сергеевна</p>
          <p class="doctor-descr">Медицинский координатор</p>
        </li>
        <li class="doctor-block splide__slide">
          <img src="/img/doctors-from-slider/ddoc-stas.jpg" alt="team-person4" />
          <p class="doctor-name">Могучов Станислав Вячеславович</p>
          <p class="doctor-descr">Врач терапевт - стаж 6 лет</p>
        </li>
      </ul>
    </div>
  </section>
</div>
