<div class="faq-container">
  <h2>Часті питання</h2>
  <ul id="faq-accordion">
    <li>
      <label for="first">Через скільки ви будете?<span>></span></label>
      <input type="radio" name="faq-accordion" id="first" />
      <div class="faq-content">
        <p>Приїзд протягом 60 хвилин від моменту надходження заявки</p>
      </div>
    </li>
    <li>
      <label for="second">Де ви знаходитесь?<span>></span></label>
      <input type="radio" name="faq-accordion" id="second" />
      <div class="faq-content">
        <p>Наші філії є у ​​всіх великих містах України.</p>
      </div>
    </li>
    <li>
      <label for="third">Які гарантії ви даєте?<span>></span></label>
      <input type="radio" name="faq-accordion" id="third" />
      <div class="faq-content">
        <p>
          Ми надаємо професійну доказову медичну допомогу. Гарантією є наше
          ім'я.
        </p>
      </div>
    </li>
  </ul>
</div>
