<div class="faq">
  {{if in .Site.Language "ru"}}
  <h2>Ответы на часто задаваемые вопросы</h2>
  {{else}}
  <h2>Відповіді на часто задавані питання</h2>
  {{end}}
  <div class="faq-list">
    {{if eq .Params.faq "alkogolism"}} {{range where site.RegularPages
    "File.Dir" "faq/alkogolism/"}}
    <details>
      <summary>{{.Params.question}}</summary>
      {{.Content}}
    </details>
    {{end}} {{else if eq .Params.faq "vivod"}} {{range where site.RegularPages
    "File.Dir" "faq/vivod/"}}
    <details>
      <summary>{{.Params.question}}</summary>
      {{.Content}}
    </details>
    {{end}} {{else if eq .Params.faq "kodirovka"}} {{range where
    site.RegularPages "File.Dir" "faq/kodirovka/"}}
    <details>
      <summary>{{.Params.question}}</summary>
      {{.Content}}
    </details>
    {{end}}{{else if eq .Params.faq "narkomania"}} {{range where
    site.RegularPages "File.Dir" "faq/narkomania/"}}
    <details>
      <summary>{{.Params.question}}</summary>
      {{.Content}}
    </details>
    {{end}}{{else if eq .Params.faq "vitamini"}} {{range where site.RegularPages
    "File.Dir" "faq/vitamini/"}}
    <details>
      <summary>{{.Params.question}}</summary>
      {{.Content}}
    </details>
    {{end}}{{else if eq .Params.faq "detox"}} {{range where site.RegularPages
    "File.Dir" "faq/detox/"}}
    <details>
      <summary>{{.Params.question}}</summary>
      {{.Content}}
    </details>
    {{end}} {{else}} {{range where site.RegularPages "File.Dir" "faq/general/"}}
    <details>
      <summary>{{.Params.question}}</summary>
      {{.Content}}
    </details>
    {{end}} {{end}}
  </div>
  <div></div>
</div>
