<footer>
  <div class="footer">
    <div class="footer-moz">Наказ МОЗ України. №226 від 27.07.2019 року</div>
    <div class="footer-logo"><a href="/"><img src="/img/logo-bw.png" alt="logo" /></a></div>
    <div class="footer-services">
      <div>
        <ul>
          <li><a href="/blog">Лечение зависимостей</a></li>
          <li><a href="/about">О нас</a></li>
          <li><a href="/contact">Контакты</a></li>
        </ul>
      </div>
    </div>
    <div class="footer-services">
      <div>
        <ul>
          <li><b style="color: whitesmoke;">Филиалы</b></li>
          <li><a href="/odessa">Одесса</a></li>
          <li><a href="/kiev">Киев</a></li>
          <li><a href="/kharkiv">Харьков</a></li>
          <li><a href="/lviv">Львов</a></li>
          <li><a href="/dnepr">Днепр</a></li>
          <li><a href="/zaporozje">Запорожье</a></li>
        </ul>
      </div>
    </div>
  </div>

  <!-- Год -->
  <div class="year"><p>2019-2024 Все права защищены</p></div>
</footer>
<script src="/js/header.js"></script>
<script src="/js/preheader.js"></script>
<script src="/js/splide.js"></script>
<script src="/js/review.js"></script>
<script src="
https://cdn.jsdelivr.net/npm/@splidejs/splide@4.1.4/dist/js/splide.min.js
"></script>
<link rel="stylesheet" href="/styles/splide.css" />
