<footer>
  <div class="footer">
    <div class="footer-logo">
      {{range site.Home.AllTranslations}} {{if eq .Language.Lang
      site.Language.Lang}}<a href="{{ .RelPermalink }}"
        ><img src="/img/logo-bw.webp" alt="logo"
      /></a>
      {{end}}{{end}}
    </div>
    <div class="footer-services">
      <div>
        <ul>
          {{ range site.Menus.main }}
          <li><a href="{{ .URL }}"{{ if eq .Identifier "filials" }}style="display:none"{{end}}>{{ .Name }}</a></li>
          {{end}}
        </ul>
      </div>
    </div>
    <div class="footer-services">
      <div>
        {{ range site.Menus.main }}
        {{if .HasChildren}}
        <ul>
          {{range .Children}}
          <li><a href="{{ .URL }}">{{ .Name }}</a></li>
          {{end}}
          {{end}}
          {{end}}
        </ul>
      </div>
    </div>
  </div>

  <!-- Год -->
  <div class="year"><p>2019-2024 Всі права захищені</p></div>
</footer>
<script src="/js/header.js"></script>
<script src="/js/preheader.js"></script>
<script src="/js/splide.js"></script>
<script src="/js/review.js"></script>
<script src="/js/star-rating.js"></script>
<script src="
https://cdn.jsdelivr.net/npm/@splidejs/splide@4.1.4/dist/js/splide.min.js
"></script>
<link rel="stylesheet" href="/styles/splide.css" />
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="/js/telegram.js"></script>
