<footer>
  <div class="footer">
    <div class="footer-logo"><img src="/img/logo-bw.png" alt="logo" /></div>
    <div class="footer-services">
      <div>
        <ul>
          <li><a href=""></a>Лечение зависимостей</li>
          <li><a href=""></a>О нас</li>
          <li><a href=""></a>Контакты</li>
        </ul>
      </div>
    </div>
    <div class="footer-services">
      <div>
        <ul>
          <li>Филиалы</li>
          <li><a href="">Одесса</a></li>
          <li><a href="">Киев</a></li>
          <li><a href="">Харьков</a></li>
          <li><a href="">Львов</a></li>
        </ul>
      </div>
    </div>
  </div>

  <!-- Год -->
  <div class="year"><p>2019-2024 Одесса. All right reserved</p></div>
</footer>
<script src="/js/header.js"></script>
<script src="/js/preheader.js"></script>
<script src="/js/splide.js"></script>
<script src="
https://cdn.jsdelivr.net/npm/@splidejs/splide@4.1.4/dist/js/splide.min.js
"></script>
<link rel="stylesheet" href="/styles/splide.css" />
