<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta name="description" content="{{.Params.description}}" />
<meta property="og:title" content="{{.Params.tabTitle}}">
<meta property="og:description" content="{{.Params.description}}">
<meta property="og:image" content="{{.Params.image | absURL}}">
<meta property="og:url" content="{{.Permalink}}">
<meta property="og:type" content="article">
<!-- Favicon -->
<link rel="shortcut icon" href="{{ "img/flavicon.png" | relURL }}" type="image/x-icon">
<title>{{.Params.tabTitle}}</title>
<!-- Canonical URL -->
<link rel="canonical" href="{{ .Permalink }}" />
<link rel="stylesheet" href="/splide/dist/css/splide.min.css">
{{/* Styles */}}
{{partial "css.html" .}}
<link rel="preload"
      href="/fonts/roboto-v50-latin-regular.woff2"
      as="font"
      type="font/woff2"
      crossorigin>
