<header>
  <nav>
    <div id="hamburger">
      <span class="line"></span>
      <span class="line"></span>
      <span class="line"></span>
    </div>
    <a href="/"><img src="/img/header-preheader/logo.png" alt="Logo"></a>
    <a href="" class="telegram-header"><img src="/img/header-preheader/telegram.png" alt="Telegram"></a></div>
    <ul id="nav-links">
      <li><a href="/blog">Лечение зависимостей</a></li>
      <li><a href="/about">О нас</a></li>
      <li><a href="/contact">Контакты</a></li>
      <li>
        <a id="filials">Филиалы<img src="/img/header-preheader/down-arrow.png" alt="down-arrow" style="width: 15px;vertical-align: middle;"></a>
        <ul id="filials-list">
          <li><a href="/kiev">Киев</a></li>
          <li><a href="/odessa">Одесса</a></li>
          <li><a href="">Харьков</a></li>
          <li><a href="">Львов</a></li>
        </ul>
      </li>
    </ul>
  </nav>
</header>