<div class="latest-news-container">
  <h2>Актульные новости</h2>
  <section id="latest-news" class="splide">
    <div class="splide__track">
      <ul class="splide__list">
        {{ range first 3 (where .Site.RegularPages "Section" "blog") }}
        <li class="latest-news-card splide__slide">
          <a href="{{ .RelPermalink }}">
            <img
              class="latest-news-image"
              src="{{.Params.image}}"
              alt="{{.Params.imageText}}"
            />
            <h3>{{ .Title }}</h3>
            <p class="date">Дата публикации: {{ .Date | time.Format ":date_long" }}</p>
          </a>
        </li>
        {{ end }}
      </ul>
    </div>
  </section>
</div>
