<div class="preheader">
  <p class="preheader-hours">
    Бесплатная консультация, работаем круглосуточно 24/7
  </p>
  <div class="preheader-numbers">
    <p>
      <a href="tel:+380973697665"
        ><img src="/img/header-preheader/telephone.png" alt="phonenum" />+380(97) 369 76
        65</a
      >
    </p>
    <p>
      <a href="tel:+380500216957"
        ><img src="/img/header-preheader/telephone.png" alt="phonenum" />+380(50) 021 69
        57</a
      >
    </p>
  </div>
  <p>
    <a href="" class="preheader-button">Бесплатная консультация</a>
  </p>
</div>