{{/*  SPLIDE LINK IS IN THE FOOTER  */}}
{{/*  <link rel="shortcut icon" href="/img/umbrella.png" type="image/x-icon">
<link rel="stylesheet" href="/styles/sticky-phone.css" />
<link rel="stylesheet" href="/styles/header.css" />
<link rel="stylesheet" href="/styles/preheader.css" />
<link rel="stylesheet" href="/styles/main.css" />
<link rel="stylesheet" href="/styles/telegram-form.css" />
<link rel="stylesheet" href="/styles/markdown.css">
<link rel="stylesheet" href="/styles/reviews.css" />
<link rel="stylesheet" href="/styles/specialists.css" />
<link rel="stylesheet" href="/styles/star-rating.css" />
<link rel="stylesheet" href="/styles/contacts.css" />
<link rel="stylesheet" href="/styles/footer.css" />
<link rel="stylesheet" href="/styles/homepage.css" />
<link rel="stylesheet" href="/styles/global.css" />
<link rel="stylesheet" href="/styles/blog.css" />
<link rel="stylesheet" href="/styles/cities-carousel.css" />
<link rel="stylesheet" href="/styles/partners-carousel.css" />
<link rel="stylesheet" href="/styles/media-query.css" />
<link rel="stylesheet" href="/styles/directory.css" />
<link rel="stylesheet" href="/styles/google-rewiews-page.css" />
<link rel="stylesheet" href="/styles/latest-news.css" />  */}}

<!-- Favicon -->
<link rel="shortcut icon" href="{{ "img/umbrella.png" | relURL }}" type="image/x-icon">

<!-- Stylesheets -->
<link rel="stylesheet" href="{{ "styles/sticky-phone.css" | relURL }}">
<link rel="stylesheet" href="{{ "styles/header.css" | relURL }}">
<link rel="stylesheet" href="{{ "styles/preheader.css" | relURL }}">
<link rel="stylesheet" href="{{ "styles/main.css" | relURL }}">
<link rel="stylesheet" href="{{ "styles/telegram-form.css" | relURL }}">
<link rel="stylesheet" href="{{ "styles/markdown.css" | relURL }}">
<link rel="stylesheet" href="{{ "styles/reviews.css" | relURL }}">
<link rel="stylesheet" href="{{ "styles/specialists.css" | relURL }}">
<link rel="stylesheet" href="{{ "styles/star-rating.css" | relURL }}">
<link rel="stylesheet" href="{{ "styles/contacts.css" | relURL }}">
<link rel="stylesheet" href="{{ "styles/footer.css" | relURL }}">
<link rel="stylesheet" href="{{ "styles/homepage.css" | relURL }}">
<link rel="stylesheet" href="{{ "styles/global.css" | relURL }}">
<link rel="stylesheet" href="{{ "styles/blog.css" | relURL }}">
<link rel="stylesheet" href="{{ "styles/cities-carousel.css" | relURL }}">
<link rel="stylesheet" href="{{ "styles/partners-carousel.css" | relURL }}">
<link rel="stylesheet" href="{{ "styles/media-query.css" | relURL }}">
<link rel="stylesheet" href="{{ "styles/directory.css" | relURL }}">
<link rel="stylesheet" href="{{ "styles/google-rewiews-page.css" | relURL }}">
<link rel="stylesheet" href="{{ "styles/latest-news.css" | relURL }}">

<link
  href="
https://cdn.jsdelivr.net/npm/@splidejs/splide@4.1.4/dist/css/splide.min.css
"
  rel="stylesheet"
/>

{{ $blog := resources.Get "css/blog.css"}}
{{ $citiescarousel := resources.Get "css/citiesCarusel.css"}}
{{ $collaboration := resources.Get "css/collaboration.css"}}
{{ $contacts := resources.Get "css/contacts.css"}}
{{ $directory := resources.Get "css/directory.css"}}
{{ $footer := resources.Get "css/footer.css"}}
{{ $global := resources.Get "css/global.css" }}
{{ $googleReviewsPage := resources.Get "css/googleReviewsPage.css"}}
{{ $header := resources.Get "css/header.css" }}
{{ $homepage := resources.Get "css/homepage.css"}}
{{ $latestNews := resources.Get "css/latestNews.css"}}
{{ $main := resources.Get "css/main.css"}}
{{ $markdown := resources.Get "css/markdown.css"}}
{{ $mediaQuery := resources.Get "css/mediaQuerry.css"}}
{{ $parthnersCarousel := resources.Get "css/partners-carousel.css"}}
{{ $preheader := resources.Get "css/preheader.css"}}
{{ $reviews := resources.Get "css/reviews.css"}}
{{ $specialists := resources.Get "css/specialists.css"}}
{{ $splide := resources.Get "css/splide.css"}}
{{ $starRating := resources.Get "css/star-rating.css"}}
{{ $stickyPhone := resources.Get "css/sticky-phone.css"}}
{{ $telegramForm := resources.Get "css/telegram-form.css"}}


{{ $bundle := slice $blog $citiescarousel $collaboration $contacts $directory $footer $global $googleReviewsPage $header $homepage $latestNews $main $markdown $mediaQuery $parthnersCarousel $preheader $reviews $specialists $splide $starRating $stickyPhone $telegramForm | resources.Concat "css/bundle.css" | minify }}
<style>
  {{ $bundle.Content | safeCSS }}
</style>

{{ $cssFiles := resources.Match "css/*.css" }}
{{ $bundle := $cssFiles | resources.Concat "css/bundle.css" | minify }}
<style>
  {{ $bundle.Content | safeCSS }}
</style>