{{/*  SPLIDE LINK IS IN THE FOOTER  */}}
<link rel="stylesheet" href="/styles/sticky-phone.css" />
<link rel="stylesheet" href="/styles/header.css" />
<link rel="stylesheet" href="/styles/preheader.css" />
<link rel="stylesheet" href="/styles/main.css" />
<link rel="stylesheet" href="/styles/telegram-form.css" />
<link rel="stylesheet" href="/styles/markdown.css">
<link rel="stylesheet" href="/styles/reviews.css" />
<link rel="stylesheet" href="/styles/specialists.css" />
<link rel="stylesheet" href="/styles/faq.css" />
<link rel="stylesheet" href="/styles/contacts.css" />
<link rel="stylesheet" href="/styles/footer.css" />
<link rel="stylesheet" href="/styles/homepage.css" />
<link rel="stylesheet" href="/styles/global.css" />
<link
  href="
https://cdn.jsdelivr.net/npm/@splidejs/splide@4.1.4/dist/css/splide.min.css
"
  rel="stylesheet"
/>