<!DOCTYPE html>
<html lang="ru">
  <head>
    <!-- Google Tag Manager -->
    <script>
      (function (w, d, s, l, i) {
        w[l] = w[l] || [];
        w[l].push({ "gtm.start": new Date().getTime(), event: "gtm.js" });
        var f = d.getElementsByTagName(s)[0],
          j = d.createElement(s),
          dl = l != "dataLayer" ? "&l=" + l : "";
        j.async = true;
        j.src = "https://www.googletagmanager.com/gtm.js?id=" + i + dl;
        f.parentNode.insertBefore(j, f);
      })(window, document, "script", "dataLayer", "GTM-P7NR5N9F");
    </script>
    <!-- End Google Tag Manager -->
    <!-- Google tag (gtag.js) -->
    <script
      async
      src="https://www.googletagmanager.com/gtag/js?id=G-K86T5FX5W9"
    ></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());

      gtag("config", "G-K86T5FX5W9");
    </script>
    <!-- Default meta -->
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{.Title}}</title>
    {{/* Canonial URL */}}
    <link rel="canonical" href="{{ .Permalink }}" />
    {{/* Styles */}} {{partial "style-links.html"}}
  </head>
  <body>
    <!-- Google Tag Manager (noscript) -->
    <noscript
      ><iframe
        src="https://www.googletagmanager.com/ns.html?id=GTM-P7NR5N9F"
        height="0"
        width="0"
        style="display: none; visibility: hidden"
      ></iframe
    ></noscript>
    <!-- End Google Tag Manager (noscript) -->
    {{partial "sticky-phone.html"}} {{ partial "preheader.html"}} {{ partial
    "header.html"}}

    <main>
        <div class="hero-text">
          <h1>{{.Params.homeHeader}}</h1>
          <p>
            {{.Params.homeText1}} <br />
            {{.Params.homeText2}} <br />
            {{.Params.homeText3}} <br />
          </p>
          {{partial "telegram-form.html" . }}
          <!-- {{ partial "cities-we-work.html" .}} -->
          <!-- <div class="main-approval">
          <p>Открыты с 2019 года. Более 5000 довольных клиентов.</p>
        </div> -->
        </div>
        <div class="main-image">
          <picture>
            <source media="(max-width: 720px)" srcset="{{.Params.mainmob}}" />
            <img src="{{.Params.mainpc}}" alt="pc-version-main" />
          </picture>
        </div>
    </main>

    <div class="discounts-block-slider">
      <h2>Акции и предложения</h2>
      <section id="homepage_carousel" class="splide">
        <div class="splide__track">
          <ul class="splide__list">
            {{range where site.RegularPages "Type" "homepage"}}
            <li class="discounts-block splide__slide">
              <div class="discounts-image">
                <a href="{{.Params.link}}">
                  <picture>
                    <source
                      media="(max-width: 720px)"
                      srcset="{{.Params.imagephone}}"
                    />
                    <img
                      src="{{.Params.imagepc}}"
                      alt="pc-version-main"
                    /> </picture
                ></a>
              </div>
            </li>
            {{end}}
          </ul>
        </div>
      </section>
    </div>

    <!-- О нашей задаче -->

    <div class="about-clinic">
      <div class="clinic-description">{{.Content}}</div>
      <div class="clinic-img">
        <img class="preview" src="{{.Params.imageDoctor}}" alt="clinic-pic" />
        <p>
          <b>{{.Params.doctorName}}</b> <br />
          {{.Params.doctorDescr}}
        </p>
      </div>
    </div>

    <!-- Приемущества -->

    <div class="benefits">
      <h2>В 80% случаев хватает одной капельницы, чтобы остановить запой</h2>
      <div class="benefits-сontainer">
        <div class="benefits-block">
          <p class="benefits-blocktitle">
            <img src="/img/home-page/unknown.png" alt="anonymous" /> Анонимность
          </p>
          <p class="benefits-descrip">
            Конфиденциальность – наш приоритет. Мы строго соблюдаем медицинскую
            тайну и гарантируем, что ваши данные останутся в безопасности.
            Обратившись к нам, вы можете быть уверены, что информация не попадет
            в государственные реестры.
          </p>
        </div>
        <div class="benefits-block">
          <p class="benefits-blocktitle">
            <img src="/img/home-page/medical-team.png" alt="free-ecg" />
            Профессионалы
          </p>
          <p class="benefits-descrip">
            Мы – опытная команда врачей различных специальностей, которые
            постоянно повышают свою квалификацию. Наши врачи – настоящие
            профессионалы, готовые помочь в любой ситуации.
          </p>
        </div>
        <div class="benefits-block">
          <p class="benefits-blocktitle">
            <img src="/img/home-page/piggy-bank.png" alt="budget-services" />
            Доступные цены
          </p>
          <p class="benefits-descrip">
            Мы понимаем сложную экономическую ситуацию в стране и стремимся
            сделать наши услуги доступными. Высокий спрос позволяет нам
            предлагать цены ниже рыночных.
            <b>Для военнослужащих и их семей предусмотрены скидки.</b>
          </p>
        </div>
        <div class="benefits-block">
          <p class="benefits-blocktitle">
            <img src="/img/home-page/home.png" alt="home-arrival" /> Выезд на
            дом
          </p>
          <p class="benefits-descrip">
            Наш врач прибудет к вам в течение 60 минут после вызова. На
            экстренные вызовы выезжают только специалисты – реаниматологи,
            наркологи или врачи неотложных состояний. Мы предоставляем
            качественную помощь, и наши врачи всегда имеют при себе все
            необходимые медикаменты.
          </p>
        </div>
      </div>
    </div>

    {{partial "doctors-slider.html"}}

    <!-- Отзывы -->
    <div style="text-align: center; padding: 1rem">
      <h2>Отзывы о нашей работе</h2>
    </div>
    {{partial "google-reviews.html" . }} {{/*
    <div class="reviews-disclaimer">
      <a id="openDialog"
        ><p>Нажмите если желаете оставить анонимный отзыв</p></a
      >
      {{partial "reviews-dialog.html"}}
    </div>
    */}} {{/* Города в которых мы работаем */}}
    <!-- Наши партнеры -->
    <div class="partners-carousel-container">
      <h2>Наши партнеры</h2>
      <section id="partners-carousel" class="splide">
        <div class="splide__track">
          <ul class="partners-block-container splide__list">
            <li class="partner splide__slide">
              <img src="/img/partners/partner-synevo.webp" alt="Synevo" />
            </li>
            <li class="partner splide__slide">
              <img src="/img/partners/partner-analitika.webp" alt="Analitika" />
            </li>
            <li class="partner splide__slide">
              <img src="/img/partners/partner-invivo.webp" alt="Invivo" />
            </li>
            <li class="partner splide__slide">
              <img src="/img/partners/partner-smartlab.webp" alt="Smartlab" />
            </li>
          </ul>
        </div>
      </section>
    </div>
    {{partial "cities-carousel.html" .}} {{ partial "latest-news.html" .}}
    {{partial "contacts.html" . }} {{partial "footer.html" .}}
  </body>
</html>
