<!DOCTYPE html>
<html lang="ru">
  <head>
    <!-- Google Tag Manager -->
    <script>
      (function (w, d, s, l, i) {
        w[l] = w[l] || [];
        w[l].push({ "gtm.start": new Date().getTime(), event: "gtm.js" });
        var f = d.getElementsByTagName(s)[0],
          j = d.createElement(s),
          dl = l != "dataLayer" ? "&l=" + l : "";
        j.async = true;
        j.src = "https://www.googletagmanager.com/gtm.js?id=" + i + dl;
        f.parentNode.insertBefore(j, f);
      })(window, document, "script", "dataLayer", "GTM-P7NR5N9F");
    </script>
    <!-- End Google Tag Manager -->
    <!-- Google tag (gtag.js) -->
    <script
      async
      src="https://www.googletagmanager.com/gtag/js?id=G-K86T5FX5W9"
    ></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());

      gtag("config", "G-K86T5FX5W9");
    </script>
    <!-- Default meta -->
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{.Title}}</title>
    {{/* Canonial URL */}}
    <link rel="canonical" href="{{ .Permalink }}" />
    {{/* Styles */}} {{partial "style-links.html"}}
  </head>
  <body>
    <!-- Google Tag Manager (noscript) -->
    <noscript
      ><iframe
        src="https://www.googletagmanager.com/ns.html?id=GTM-P7NR5N9F"
        height="0"
        width="0"
        style="display: none; visibility: hidden"
      ></iframe
    ></noscript>
    <!-- End Google Tag Manager (noscript) -->
    {{partial "sticky-phone.html"}} {{ partial "preheader.html"}} {{ partial
    "header.html"}}
    <main>
      <div class="hero-text">
        <h1>Лечение алкогольной зависимости<br /></h1>
        <p>
          Вывод из запоя <br />Кодировка <br />Помощь при интоксикации
          <br />прямо у вас на дому
        </p>
        {{partial "telegram-form.html" . }} {{ partial "cities-we-work.html" .
        }}
        <div class="main-approval">
          <p>Открыты с 2019 года. Более 5000 довольных клиентов.</p>
        </div>
      </div>
      <div class="main-image">
        <img src="/img/home-page/main-ru.jpg" alt="Main-image" />
      </div>
    </main>

    <!-- Наши партнеры -->
    <div class="partners-carousel-container">
      <h2>Наши партнеры</h2>
      <section id="partners-carousel" class="splide">
        <div class="splide__track">
          <ul class="partners-block-container splide__list">
            <li class="partner splide__slide">
              <img src="/img/partners/partner-synevo.webp" alt="Synevo" />
            </li>
            <li class="partner splide__slide">
              <img src="/img/partners/partner-analitika.webp" alt="Analitika" />
            </li>
            <li class="partner splide__slide">
              <img src="/img/partners/partner-invivo.webp" alt="Invivo" />
            </li>
            <li class="partner splide__slide">
              <img src="/img/partners/partner-smartlab.webp" alt="Smartlab" />
            </li>
          </ul>
        </div>
      </section>
    </div>

    <!-- О нашей задаче -->

    <div class="about-clinic">
      <div class="clinic-description">
        <h2>Помогаем обрести новую жизнь</h2>
        <p>
          Лечение алкогольной и наркотической зависимости — это долгий путь к
          свободе и новой жизни. Наша компания специализируется на лечении
          алкоголизма и наркомании, выводе из запоя, кодировании, а также
          лечении бессонницы и тревожных расстройств. Мы предлагаем
          индивидуальные схемы лечения, разработанные профессиональной командой
          врачей различных специальностей в соответствии с протоколами МОЗ. Наш
          подход основан на комплексном лечении каждого пациента и дальнейшей
          поддержке на всех этапах выздоровления. Мы верим, что каждый человек
          способен изменить свою жизнь к лучшему.
          <br /><br />
          <i
            >"Наша главная цель - не просто прокапать пациента, но и
            восстановить его ментальное здоровье, помочь преодолеть трудности
            перед зависимостью , вернуть радость и смысл жизни"</i
          >
          <br />Иванов Святослав Вячеславович
        </p>
      </div>
      <div class="clinic-img">
        <img src="/img/main-about.webp" alt="clinic-pic" />
      </div>
    </div>
    {{/* Города в которых мы работаем */}} {{partial "cities-carousel.html" .}}
    <!-- Приемущества -->

    <div class="benefits">
      <h2>Наши приемущества</h2>
      <div class="benefits-сontainer">
        <div class="benefits-block">
          <p class="benefits-blocktitle">
            <img src="/img/home-page/unknown.png" alt="anonymous" /> Анонимность
          </p>
          <p class="benefits-descrip">
            Конфиденциальность – наш приоритет. Мы строго соблюдаем медицинскую
            тайну и гарантируем, что ваши данные останутся в безопасности.
            Обратившись к нам, вы можете быть уверены, что информация не попадет
            в государственные реестры.
          </p>
        </div>
        <div class="benefits-block">
          <p class="benefits-blocktitle">
            <img src="/img/home-page/medical-team.png" alt="free-ecg" />
            Профессионалы
          </p>
          <p class="benefits-descrip">
            Мы – опытная команда врачей различных специальностей, которые
            постоянно повышают свою квалификацию. Наши врачи – настоящие
            профессионалы, готовые помочь в любой ситуации.
          </p>
        </div>
        <div class="benefits-block">
          <p class="benefits-blocktitle">
            <img src="/img/home-page/piggy-bank.png" alt="budget-services" />
            Доступные цены
          </p>
          <p class="benefits-descrip">
            Мы понимаем сложную экономическую ситуацию в стране и стремимся
            сделать наши услуги доступными. Высокий спрос позволяет нам
            предлагать цены ниже рыночных.
            <b>Для военнослужащих и их семей предусмотрены скидки.</b>
          </p>
        </div>
        <div class="benefits-block">
          <p class="benefits-blocktitle">
            <img src="/img/home-page/home.png" alt="home-arrival" /> Выезд на
            дом
          </p>
          <p class="benefits-descrip">
            Наш врач прибудет к вам в течение 60 минут после вызова. На
            экстренные вызовы выезжают только специалисты – реаниматологи,
            наркологи или врачи неотложных состояний. Мы предоставляем
            качественную помощь, и наши врачи всегда имеют при себе все
            необходимые медикаменты.
          </p>
        </div>
      </div>
    </div>

    {{/* Выезда врача на дом */}}

    <div class="home-doctor">
      <h2>Выезд врача на дом</h2>
      <div class="home-doctor-container">
        <div class="home-doctor-img">
          <img src="/img/home-page/doctor-home.webp" alt="doctor-at-home" />
        </div>
        <p>
          Выезд врача к пациенту домой начинается с вашего звонка нам. Пациент
          или его близкий родственник контактирует с дежурным доктором и
          оговаривает время визита. Врач проводит анализ состояния пациента,
          выявляет степень зависимости и оценивает потребность в лечении.
          <br />В день визита врач приезжает к пациенту домой, проводит осмотр,
          задает вопросы о симптомах и истории употребления алкоголя. На основе
          полученной информации врач разрабатывает индивидуальный план лечения,
          предлагает методы справления с алкогольной зависимостью и назначает
          подходящие медикаменты. <br />Врач также обсуждает реабилитационные
          программы и предоставляет пациенту и его семье рекомендации по ведению
          здорового образа жизни.
        </p>
      </div>
    </div>

    {{partial "doctors-slider.html"}} {{/* Отзывы */}}

    <!-- Отзывы -->

    <div class="reviews">
      <h2>Отзывы пациентов:</h2>
      <section id="card-carousel" class="splide">
        <div class="splide__track">
          <ul class="reviews-container splide__list">
            <!-- <div class="reviews-column1"> -->
            <li class="reviews-block splide__slide">
              <div class="reviews-name-rate">
                <p>Анонимно</p>
                <img src="/img/rating.png" alt="" />
              </div>
              <p class="reviews-text">
                "Ну в хлопців просто золоті руки й світла голова, мене капали
                Олексій та Владислав, буквально за декілька сеансів я наче
                заново народився, до цього пив більше 3х тижнів, не міг
                зупинитись, дуже радий що знайшов саме цих спеціалістів, всім
                рекомендую"
              </p>
            </li>
            <li class="reviews-block splide__slide">
              <div class="reviews-name-rate">
                <p>Анонимно</p>
                <img src="/img/rating.png" alt="" />
              </div>
              <p>
                "В течение нескольких лет я злоупотреблял алкоголь, что привело
                к увольнению с работы и вызвало у меня мысли о суициде. Понимая,
                что такой образ жизни неприемлем, я обратился за помощью в
                клинику "Амбрела". Здесь я смог преодолеть свою зависимость от
                спиртного благодаря заботливым и опытным врачам, а также
                эффективной системе лечения. Спустя более года я полностью
                избавился от желания употреблять алкоголь, и теперь моя жизнь
                вернулась в норму. Я даже не приближаюсь к спиртному! Благодарю
                врачей клиники "Амбрела" за их помощь и заботу."
              </p>
            </li>
            <li class="reviews-block splide__slide">
              <div class="reviews-name-rate">
                <p>Анонимно</p>
                <img src="/img/rating.png" alt="" />
              </div>
              <p>
                "Я обращался за помощью в различные клиники, пытаясь избавиться
                от своей зависимости от алкоголя, но без особых успехов. Никак
                не мог справиться с желанием прибегнуть к бутылке, пока друг не
                посоветовал мне обратиться в центр "Амбрелла". Я записался на
                прием и был поражен заботливым отношением к пациентам. Уже
                прошло два года, и теперь я смотрю на алкоголь с абсолютной
                равнодушием, активно занимаюсь спортом и улучшил отношения в
                семье. Благодаря центру "Амбрелла" моя жизнь была спасена от
                алкогольной зависимости!"
              </p>
            </li>
            <li class="reviews-block splide__slide">
              <div class="reviews-name-rate">
                <p>Анонимно</p>
                <img src="/img/rating.png" alt="" />
              </div>
              <p>
                "Хочу выразить свою благодарность врачам из центра алкоголизма
                "Амбрела" за то, что они буквально спасли мою жизнь. В течение
                последнего года я сильно увлекался питьем, и все это привело к
                катастрофическим последствиям. Хотя я ходил на терапевтические
                сеансы, но безрезультатно. Тогда я нашел адрес клиники "Амбрела"
                в интернете, изучил отзывы и информацию о центре, и записался на
                прием. Там мне сразу предложили методику лечения, которая
                помогла не только справиться с физической ломкой, но и
                психической зависимостью от алкоголя. Не буду распространяться,
                скажу только одно - после пребывания в этой клинике я стал
                другим человеком, и навсегда забыл, что такое привкус алкоголя.
                Больше меня не тянет на это! Я искренне верю, что в центре
                "Амбрела" трудятся настоящие целители душ!"
              </p>
            </li>
            <!-- </div> -->
            <!-- <div class="reviews-column2"> -->
            <li class="reviews-block splide__slide">
              <div class="reviews-name-rate">
                <p>Анонимно</p>
                <img src="/img/rating.png" alt="" />
              </div>
              <p>
                "После сложного развода мой сын начал подавлять свою обиду и
                горе употреблением алкоголя. Он старался скрывать это от меня,
                но я, как мать, почувствовала, что что-то не так. В конечном
                итоге, ситуация стала критической. Моя знакомая посоветовала мне
                обратиться в клинику "Амбрела". Я была приятно удивлена их
                работой! Они помогли сыну преодолеть очередной период
                злоупотребления алкоголем, и с тех пор прошел уже более года, и
                он совсем не пьет."
              </p>
            </li>
            <li class="reviews-block splide__slide">
              <div class="reviews-name-rate">
                <p>Анонимно</p>
                <img src="/img/rating.png" alt="" />
              </div>
              <p>
                "Благодаря вашей помощи, моя семья была спасена. Я с трудом
                уговорила мужа начать лечение, и последний каплей был пьяное
                ДТП. К счастью, в аварии никто не пострадал, но это был для него
                сигнал к действию. Он наконец согласился пройти курс лечения на
                дому, в стационар не хотел ложиться. Лечение было трудным, и
                были моменты, когда срыв был настолько близок, но благодаря
                вашему центру Амбрелла мы справились с этим."
              </p>
            </li>
            <li class="reviews-block splide__slide">
              <div class="reviews-name-rate">
                <p>Анонимно</p>
                <img src="/img/rating.png" alt="" />
              </div>
              <p>
                "Для меня эта клиника стала настоящим спасением! Долгое время я
                упорно отказывался от лечения, уверен был, что со мной все в
                порядке. Но к счастью, семья уговорила меня попробовать. И
                сегодня я чувствую себя невероятно счастливым, осознавая, что
                мне абсолютно не нужен алкоголь. Огромное спасибо за помощь и
                поддержку, которые я получил здесь! Я благодарен вам за новую
                возможность жить полноценной и счастливой жизнью!"
              </p>
            </li>
            <li class="reviews-block splide__slide">
              <div class="reviews-name-rate">
                <p>Анонимно</p>
                <img src="/img/rating.png" alt="" />
              </div>
              <p>
                "Выражаю благодарность ребятам, которые оказали мне помощь и не
                отвернулись. Уже 10 месяцев я остаюсь чистой. Благодарю за то,
                что помогли найти новый путь в моей жизни."
              </p>
            </li>
          </ul>
        </div>
      </section>
    </div>
    <!-- </div> -->
    <div class="reviews-disclaimer">
      <a id="openDialog"
        ><p>Нажмите если желаете оставить анонимный отзыв</p></a
      >
      {{partial "reviews-dialog.html"}}
    </div>
    {{partial "contacts.html" . }} {{partial "footer.html" .}}
  </body>
</html>
