<!DOCTYPE html>
<html lang="ru">
  <head>
    {{ partial "head.html" . }}
    <meta property="og:image" content="{{.Params.imageDoctor}}">
  </head>
  <body>
    {{partial "sticky-phone.html"}} {{ partial "preheader.html"}} {{ partial
    "header.html"}}
    <div class="main-padding"></div>
    <main>
      <div class="index-hero-text">
        <h1>{{.Params.homeHeader}}</h1>
        <p>
          {{.Params.homeText1}} <br />
          {{.Params.homeText2}} <br />
          {{.Params.homeText3}} <br />
        </p>
        {{partial "telegram-form.html" . }}
        <!-- {{ partial "cities-we-work.html" .}} -->
        <!-- <div class="main-approval">
          <p>Открыты с 2019 года. Более 5000 довольных клиентов.</p>
        </div> -->
      </div>
      <div class="index-main-image">
        {{ $settings := site.GetPage "settings" }}
        {{ $celebration := $settings.Params.celebration }} 
        {{$mob := resources.Get (printf "/img/MAIN/%s-mob-%s.jpg" $celebration .Site.Language.Lang)}} 
        {{$pc:= resources.Get (printf "/img/MAIN/%s-pc-%s.jpg" $celebration .Site.Language.Lang)}}
        <picture>
          <source
            media="(max-width: 1000px)"
            srcset="{{$mob.RelPermalink}}"
          />
          <img src="{{$pc.RelPermalink}}" alt="pc-version-main" />
        </picture>
      </div>
    </main>

    <div class="discounts-block-slider">
      <h2>Акции и предложения</h2>
      <section id="homepage_carousel" class="splide">
        <div class="splide__track">
          <ul class="splide__list">
            {{range where site.RegularPages "Type" "homepage"}}
            <li class="discounts-block splide__slide">
              <div class="discounts-image">
                <a href="{{.Params.link}}">
                  <picture>
                    {{$discPhone := resources.Get .Params.imagephone}} {{$discPC
                    := resources.Get .Params.imagepc}}
                    <source
                      media="(max-width: 720px)"
                      srcset="{{$discPhone.RelPermalink}}"
                    />
                    <img
                      src="{{$discPC.RelPermalink}}"
                      alt="pc-version-main"
                    /> </picture
                ></a>
              </div>
            </li>
            {{end}}
          </ul>
        </div>
      </section>
    </div>

    <!-- О нашей задаче -->

    <div class="about-clinic">
      <div class="clinic-description">{{.Content}}</div>
      <div class="clinic-img">
        {{$doctor := resources.Get .Params.imageDoctor}}
        <img
          class="preview"
          src="{{$doctor.RelPermalink}}"
          alt="clinic-pic"
          loading="lazy"
        />
        <p>
          <b>{{.Params.doctorName}}</b> <br />
          {{.Params.doctorDescr}}
        </p>
      </div>
    </div>

    <!-- Приемущества -->

    <div class="benefits">
      <h2>В 80% случаев хватает одной капельницы, чтобы остановить запой</h2>
      <div class="benefits-сontainer">
        <div class="benefits-block">
          <p class="benefits-blocktitle">
            <img src="/img/home-page/unknown.png" alt="anonymous" /> Анонимность
          </p>
          <p class="benefits-descrip">
            Конфиденциальность – наш приоритет. Мы строго соблюдаем медицинскую
            тайну и гарантируем, что ваши данные останутся в безопасности.
            Обратившись к нам, вы можете быть уверены, что информация не попадет
            в государственные реестры.
          </p>
        </div>
        <div class="benefits-block">
          <p class="benefits-blocktitle">
            <img src="/img/home-page/medical-team.png" alt="free-ecg" />
            Профессионалы
          </p>
          <p class="benefits-descrip">
            Мы – опытная команда врачей различных специальностей, которые
            постоянно повышают свою квалификацию. Наши врачи – настоящие
            профессионалы, готовые помочь в любой ситуации.
          </p>
        </div>
        <div class="benefits-block">
          <p class="benefits-blocktitle">
            <img src="/img/home-page/piggy-bank.png" alt="budget-services" />
            Доступные цены
          </p>
          <p class="benefits-descrip">
            Мы понимаем сложную экономическую ситуацию в стране и стремимся
            сделать наши услуги доступными. Высокий спрос позволяет нам
            предлагать цены ниже рыночных.
            <b>Для военнослужащих и их семей предусмотрены скидки.</b>
          </p>
        </div>
        <div class="benefits-block">
          <p class="benefits-blocktitle">
            <img src="/img/home-page/home.png" alt="home-arrival" /> Выезд на
            дом
          </p>
          <p class="benefits-descrip">
            Наш врач прибудет к вам в течение 60 минут после вызова. На
            экстренные вызовы выезжают только специалисты – реаниматологи,
            наркологи или врачи неотложных состояний. Мы предоставляем
            качественную помощь, и наши врачи всегда имеют при себе все
            необходимые медикаменты.
          </p>
        </div>
      </div>
    </div>

    {{partial "doctors-slider.html"}} {{partial "cities-carousel.html" .}}
    <!-- Отзывы -->
    <div style="text-align: center; padding: 1rem">
      <h2>Отзывы о нашей работе</h2>
    </div>
    {{partial "google-reviews.html" . }} {{/*
    <div class="reviews-disclaimer">
      <a id="openDialog"
        ><p>Нажмите если желаете оставить анонимный отзыв</p></a
      >
      {{partial "reviews-dialog.html"}}
    </div>
    */}} {{/* Города в которых мы работаем */}}
    <!-- Наши партнеры -->
    <div class="partners-carousel-container">
      <h2>Наши партнеры</h2>
      <section id="partners-carousel" class="splide">
        <div class="splide__track">
          <ul class="partners-block-container splide__list">
            <li class="partner splide__slide">
              <img
                src="/img/partners/partner-synevo.webp"
                alt="Synevo"
                loading="lazy"
              />
            </li>
            <li class="partner splide__slide">
              <img
                src="/img/partners/partner-analitika.webp"
                alt="Analitika"
                loading="lazy"
              />
            </li>
            <li class="partner splide__slide">
              <img
                src="/img/partners/partner-invivo.webp"
                alt="Invivo"
                loading="lazy"
              />
            </li>
            <li class="partner splide__slide">
              <img
                src="/img/partners/partner-smartlab.webp"
                alt="Smartlab"
                loading="lazy"
              />
            </li>
          </ul>
        </div>
      </section>
    </div>
    {{ partial "latest-news.html" .}} {{partial "contacts.html" . }} {{partial
    "footer.html" .}}
  </body>
</html>
