.markdown {
  padding:1.5rem 0;
  max-width: 97.5%;
  margin: auto;
  display: flex;
  flex-direction: column;
}
.markdown > h1,
h2,
h3 {
  display: inline-block;
  position: relative;
  padding: 0.5em;
  align-self: center;
}
h2::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  bottom: 10px;
  border-radius: 10px;
  background-color: var(--blue);
  left: 0px;
}
.markdown a {
  color: var(--blue);
  text-decoration: underline;
}
.markdown p {
  line-height: 1.5rem;
  padding: 1rem;
}
.markdown img {
  max-width: 75%;
}
.markdown ol, ul{
  align-self: flex-start;
  padding:1rem 2rem;
  list-style:inside;
}
.markdown ol li, ul li{
  margin-bottom: 1rem;
}
.table-container {
  width: 100%;
  overflow-x: auto;
  margin: 0 auto;
  max-width: 600px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
}

th,
td {
  padding: 12px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

th {
  background-color: #1d5d9b;
  color: white;
}

tbody tr:nth-child(even) {
  background-color: #f9f9f9;
}

tbody tr:hover {
  background-color: #f1f1f1;
}

@media (min-width: 1000px) {
  .markdown {
    max-width: 50%;
  }
}
