@media (min-width: 1149px) {
    body .preview {
        object-fit: contain;
        width: 60%;
        box-shadow: -7px 7px 0px var(--blue);
        border-radius: 0px 10px 0px 0px;
        backface-visibility: hidden;
    }
}
@media (min-width: 1399px) {
    body .preview {
        object-fit: contain;
        width: 50%;
        box-shadow: -7px 7px 0px var(--blue);
        border-radius: 0px 10px 0px 0px;
        backface-visibility: hidden;
    }
}
@media (min-width: 1649px) {
    body .preview {
        object-fit: contain;
        width: 40%;
        box-shadow: -7px 7px 0px var(--blue);
        border-radius: 0px 10px 0px 0px;
        backface-visibility: hidden;
    }
}
