/* О клинике */

.about-clinic {
  display: flex;
  flex-direction: column;
  padding-bottom: 2em;
  max-width: 95%;
  margin: auto;
}
.clinic-description h2 {
  padding: 1em 0;
  font-weight: 500;
  display: inline-block;
  position: relative;
  font-size: 23px;
  z-index: 1;
}
.clinic-description h2::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  bottom: 18px;
  border-radius: 10px;
  background-color: #1d5d9b;
  left: 0px;
}
.clinic-description p {
  line-height: 1.6rem;
  gap: 4rem;
}
.clinic-img {
  width: auto;
  display: flex;
  align-items: center;
  padding: 1em;
}
.clinic-img img {
  object-fit: contain;
  width: 100%;
  box-shadow: -7px 7px 0px var(--blue);
  border-radius: 0px 10px 0px 0px;
}
@media (min-width: 1000px) {
  .about-clinic {
    max-width: 70%;
    flex-direction: row;
  }
  .about-clinic > * {
    flex: 1;
  }
  .clinic-img {
    margin-top: 1em;
  }
}

/* Приемущества (Из старой версии сайта, сначала ПК версия)*/

.benefits {
  height: auto;
  background-color: var(--blue);
  padding-bottom: 5vh;
  max-width: 80%;
  margin: auto;
  border-radius: 10px;
}
.benefits h2 {
  text-align: center;
  padding: 1em;
  color: white;
  font-weight: 500;
  position: relative;
}
.benefits-сontainer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 1em;
}
.benefits-block {
  width: 15em;
  height: 22em;
  display: flex;
  flex-direction: column;
  /* justify-content: space-around; */
  align-items: center;
  border-radius: 10px;
  padding: 1em;
  background-color: white;
}
.benefits-block img {
  width: 2em;
  align-self: flex-start;
}
.benefits-blocktitle {
  text-align: center;
  font-weight: 500;
  padding: 0.5em;
}
.benefits-descrip {
  font-size: 1rem;
  font-weight: 300;
}
@media (max-width: 1300px) {
  .benefits {
    height: auto;
    max-width: 100%;
  }
  .benefits-сontainer {
    justify-content: space-between;
    flex-direction: column;
  }
  .benefits-block {
    width: 85%;
    height: auto;
  }
}

/* Выезд нашего врача к вам домой (Из старой версии сайта, сначала ПК версия) */

.home-doctor {
  height: auto;
  max-width: 70%;
  margin: auto;
  text-align: center;
}
.home-doctor h2 {
  display: inline-block;
  padding: 1em 0;
  position: relative;
}
.home-doctor h2::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  bottom: 18px;
  border-radius: 10px;
  background-color: #1d5d9b;
  left: 0px;
}
.home-doctor-container {
  display: flex;
}
.home-doctor-img {
  width: 200em;
  margin-right: 2em;
  align-self: center;
}
.home-doctor-img img {
  object-fit: contain;
  width: 100%;
  margin-bottom: 1em;
  box-shadow: 10px 10px 0px var(--blue);
  border-radius: 10px 0px 0px 0px;
}
.home-doctor-container p {
  line-height: 1.5em;
  text-align: left;
}
@media (max-width: 768px) {
  .home-doctor {
    height: auto;
    max-width: 95%;
  }
  .home-doctor-container {
    flex-direction: column;
  }
  .home-doctor-img {
    width: auto;
  }
  .home-doctor-img img {
    width: 100%;
  }
}
